# SVM on Auto Import Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn import svm

In [4]:
# Upload the Data File
path = r"C:\Users\Jwpel\Downloads"
file = "\1985_auto_imports.csv"
df = pd.read_csv(r"C:\Users\Jwpel\Downloads\1985_auto_imports.csv")
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115,0,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495
1,3,115,0,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500
2,1,115,0,1,0,1,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450

In [5]:
df.shape

(205, 26)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    205 non-null int64
make                 205 non-null int64
fuel_type            205 non-null int64
aspiration           205 non-null int64
num_doors            205 non-null int64
body_style           205 non-null int64
drive_wheels         205 non-null int64
engine_location      205 non-null int64
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null int64
num_cylinders        205 non-null int64
engine_size          205 non-null int64
fuel_system          205 non-null int64
bore                 205 non-null float64
stroke               205 non-null float64
compression_ratio    205 non-null float64
horsepower           205 non-null int64
peak_rpm             205 non-null int64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(7), int64(19)
memory usage: 41.7 KB

In [17]:
# assigning predictor variables and target variable
X = df.drop(["symboling"], 1)
y = df["symboling"]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
normalized_losses    205 non-null int64
make                 205 non-null int64
fuel_type            205 non-null int64
aspiration           205 non-null int64
num_doors            205 non-null int64
body_style           205 non-null int64
drive_wheels         205 non-null int64
engine_location      205 non-null int64
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null int64
num_cylinders        205 non-null int64
engine_size          205 non-null int64
fuel_system          205 non-null int64
bore                 205 non-null float64
stroke               205 non-null float64
compression_ratio    205 non-null float64
horsepower           205 non-null int64
peak_rpm             205 non-null int64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(7), int64(18)
memory usage: 40.1 KB

In [18]:
# import StandarScaler to scale data and import train_test_split to split the data for train/test
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [47]:
# assign training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state=9)

In [48]:
# scaler the data
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\Jwpel\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Jwpel\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
C:\Users\Jwpel\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """

In [73]:
# SVM model created, gamma = .75, C = 2
model = svm.SVC(kernel = "rbf", C=2, gamma=.75)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [74]:
# import accuracy score and confusion matrix
from sklearn.metrics import accuracy_score, confusion_matrix
print(accuracy_score(y_test, y_predict))

0.8536585365853658

In [75]:
# predictions on test set
y_test.value_counts()

 0    16
 1    10
 2     7
 3     4
-1     3
-2     1
Name: symboling, dtype: int64

In [76]:
# confusion matrix created
conf_mat = confusion_matrix(y_test, y_predict)
conf_mat = pd.DataFrame(data = conf_mat, columns = [["Pred:-2", "Pred:-1", "Pred:0", "Pred:1", "Pred:2", "Pred:3"]],
                       index = [["Act:-2", "Act:-1", "Act:0", "Act:1", "Act:2", "Act:3"]])
conf_mat

       Pred:-2 Pred:-1 Pred:0 Pred:1 Pred:2 Pred:3
Act:-2       1       0      0      0      0      0
Act:-1       0       3      0      0      0      0
Act:0        0       0     16      0      0      0
Act:1        0       0      2      8      0      0
Act:2        0       0      4      0      3      0
Act:3        0       0      0      0      0      4